DirectoryIndex developpeur-web-toulouse.php

RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^.*$ https://www.yohan-verdalle.fr/developpeur-web-toulouse [L,NE,R=301]
